# System Configuration
# Copy this file to .env and fill in the correct values

# Embedding Model Configuration
EMBEDDING_CLIENT_TYPE=
OLLAMA_HOST=http://localhost:11434
OLLAMA_EMBED_MODEL=my-project-embed 

# Vector Database Configuration
VECTOR_DB_CLIENT_TYPE=          # Options: "qdrant"
VECTOR_DB_ENDPOINT=             # Full URL: http://localhost:6333
VECTOR_DB_API_KEY=              # Not necessary for local development

# Object storage configuration
OBJECT_STORAGE_CLIENT_TYPE=     # Options: "minio"
MINIO_ENDPOINT=                 # Full URL: http://localhost:9000 for local dev
MINIO_USER=                     # MinIO root user
MINIO_PASSWORD=                 # MinIO root password (keep secret!)
MINIO_USE_SSL=                  # true for production TLS (or accessing manutech.ro service), false for local HTTP

# LLM configuration
LLM_CLIENT_TYPE=openai          # Options: "openai", "ollama"
OPENAI_API_KEY=
OPENAI_TEMPERATURE=             # Default: 0.2

# Relational Database configuration
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432